export(addNormLogFC)
export(addProductsForLeafRxns)
export(convertPval)
export(convertPvalBiomart)
export(diffExpr)
export(edgelist)
export(findModules)
export(fixInf)
export(makeExperimentSet)
export(makeKeggNetwork)
export(normalizeExpressions)
export(plotNetwork)
export(removeSimpleReactions)
export(saveModule)
import(BioNet)
import(DESeq)
importFrom(limma,lmFit)
importFrom(plyr,rename)
importFrom(XML,addAttributes)
importFrom(XML,append.xmlNode)
import(graph)
import(igraph0)
