export(addInterconnections)
export(addMetabolitesForReactions)
export(addNormLogFC)
export(addTransEdges)
export(convertPval)
export(convertPvalBiomart)
export(diffExpr)
export(edgelist)
export(expandReactionNodeAttributesToEdges)
export(findModule)
export(fixInf)
export(getModuleJsonString)
export(makeExperimentSet)
export(makeKeggNetwork)
export(module2list)
export(normalizeExpressions)
export(plotNetwork)
export(removeHangingNodes)
export(removeSimpleReactions)
export(saveModule)
export(saveModuleToPdf)
export(saveModuleToXgmml)
import(BioNet)
import(DESeq)
importFrom(igraph,E)
importFrom(igraph,get.edge.attribute)
importFrom(igraph,get.edgelist)
importFrom(igraph,get.edges)
importFrom(igraph,get.vertex.attribute)
importFrom(igraph,graph.edgelist)
importFrom(igraph,igraph.from.graphNEL)
importFrom(igraph,igraph.to.graphNEL)
importFrom(igraph,layout.kamada.kawai)
importFrom(igraph,layout.norm)
importFrom(igraph,list.edge.attributes)
importFrom(igraph,list.vertex.attributes)
importFrom(igraph,plot.igraph)
importFrom(igraph,simplify)
importFrom(igraph,V)
importFrom(limma,contrasts.fit)
importFrom(limma,eBayes)
importFrom(limma,lmFit)
importFrom(limma,makeContrasts)
importFrom(limma,topTable)
importFrom(plyr,rename)
importFrom(rjson,toJSON)
importFrom(XML,addAttributes)
importFrom(XML,append.xmlNode)
import(graph)
