export(addNormLogFC)
export(convertPval)
export(convertPvalBiomart)
export(diffExpr)
export(edgelist)
export(findModules)
export(fixInf)
export(makeExperimentSet)
export(makeKeggNetwork)
export(normalizeExpressions)
export(plotNetwork)
export(saveModule)
import(BioNet)
import(DESeq)
import(igraph0)
import(limma)
